@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.menu li > :not(ul, .menu-title, details, .btn):active,
.menu li > :not(ul, .menu-title, details, .btn).active,
.menu li > details > summary:active {
  --tw-bg-opacity: 1;
  background-color: transparent;
  color: #00a9e9;
}
:where(
    .menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)
  ):not(summary, .active, .btn).focus,
:where(
    .menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)
  ):not(summary, .active, .btn):focus,
:where(
    .menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)
  ):is(summary):not(.active, .btn):focus-visible,
:where(
    .menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)
  ):not(summary, .active, .btn).focus,
:where(
    .menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)
  ):not(summary, .active, .btn):focus,
:where(
    .menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)
  ):is(summary):not(.active, .btn):focus-visible {
  background-color: transparent;
}
/* :where(
    .menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)
  ):not(summary, .active, .btn).focus,
:where(
    .menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)
  ):not(summary, .active, .btn):focus,
:where(
    .menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)
  ):is(summary):not(.active, .btn):focus-visible,
:where(
    .menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)
  ):not(summary, .active, .btn).focus,
:where(
    .menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)
  ):not(summary, .active, .btn):focus,
:where(
    .menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)
  ):is(summary):not(.active, .btn):focus-visible {
  cursor: pointer;
  background-color: #00a9e9;
  color: #fff;
  outline: 2px solid #00a9e9;
  outline-offset: 2px;
} */

@media (hover: hover) {
  @supports (color: oklch(0% 0 0)) {
    :where(
        .menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)
      ):not(.active, .btn):hover,
    :where(
        .menu
          li:not(.menu-title, .disabled)
          > details
          > summary:not(.menu-title)
      ):not(.active, .btn):hover {
      background-color: transparent;
      color: #00a9e9;
    }
  }
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.innerCard:hover .innerCardBody {
  background-color: red;
  transition: all 0.5s ease-in-out;
}
.innerCard:hover .bodyDis {
  display: block;
  transition: all 0.5s ease-in-out;
}
/* .innerCardBody {
} */
.bodyDis {
  display: none;
}
/* /////////////////////////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================Our Store============== */
.filter-card {
  background: white;
  border-radius: 10px;
  padding: 10px 15px;
}
.filter-title {
  color: var(--color-1c1c1b);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
  letter-spacing: 0.8px;
}
.filter-card ul,
.filter-card .form-check-label {
  list-style: none;
  font-size: 13px;
  line-height: 30px;
  padding: 0;
  cursor: pointer;
  color: #777777;
}
.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}

.sub-title {
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  color: #1c1c1b;
  line-height: 28px;
}

.filter-card .form-floating > label {
  font-size: 12px;
}
.filter-card .form-control {
  height: 40px;
}
.filter-card .form-control:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}

.filter-sort-grid {
  padding: 10px;
  border-radius: 10px;
  background: white;
}

.grid img {
  /* width: 34px;
  height: 34px; */
  background: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.products-list .col-12 .product-card {
  display: flex;
  align-items: center;
  gap: 20px;
}
.product-card .disc {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  display: block;
  color: #777777;
}
.products-list .col-12 .product-card .disc {
  display: block;
}
.products-list .col-12 .product-card .action-bar {
  top: 15%;
}
.products-list .col-12 .product-card .product-img {
  width: 25%;
}
.products-list .col-12 .product-card .product-details {
  width: 75%;
  overflow: hidden;
}
.products-list .product-img {
  height: auto;
}
/* -----------------------------------
* product action bar change for 12 grid
 */

.products-list .col-12 .product-card:hover .action-bar {
  left: 91%;
}

.products-list .col-12 .product-card .wishlist-icon {
  top: 5%;
  left: 96%;
}
.products-list .col-12 .product-card .action-bar {
  right: -23px;
  transition: all 0.3s;
}

/* ================Our Store end============== */

/* ================Single Blog start============== */
.single-blog-card a {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-777777);
  margin-bottom: 20px;
}
.single-blog-card h3 {
  font-size: 24px;
  line-height: 31px;
  font-weight: 600;
  word-wrap: break-word;
  color: #1c1b1b;
}
.single-blog-card p {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  word-wrap: break-word;
  color: var(--color-777777);
}
/* ================Single Blog end============== */

/* ================main Product ============== */
.description-wrapper h4 {
  font-size: 26px;
  line-height: 1.5;
  font-weight: 500;
  color: #1c1b1b;
}
.description-wrapper p {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-777777);
  letter-spacing: 0.3px;
}
.review-inner-wrapper {
  background: white;
  padding: 30px;
}
.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.review-head h4 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  color: #1c1b1b;
}
.review-head p,
.review-head a,
.main-product-details a {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-777777);
  letter-spacing: 0.3px;
}
.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review p {
  font-size: 14px;
  color: var(--color-777777);
}
.main-product-image {
  padding: 20px;
  background: white;
  border-radius: 10px;
}
.main-product-image > div {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-image .js-image-zoom__zoomed-image {
  left: 55px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  z-index: 1000;
}
.other-product-image {
  background: white;
  padding: 20px;
}
.other-product-image > div {
  padding: 20px;
  width: 48%;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-image img {
  width: 100% !important;
  height: 500px !important;
  object-fit: cover;
}
.main-product-details {
  padding: 30px 20px;
  background: white;
  border-radius: 10px;
}
.main-product-details .border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-details h3 {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--color-1c1c1b);
  margin: 0 0 10px;
  line-height: 26px;
  padding: 0 0 10px;
}
.main-product-details h4 {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--color-1c1c1b);
  letter-spacing: 0.8px;
  line-height: 22px;
}
.main-product-details p {
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--color-777777);
  letter-spacing: 0.8px;
  line-height: 22px;
  margin-bottom: 0.5rem !important;
}
.main-product-details .price {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 10px;
}
.main-product-details .buy-btn {
  background: var(--color-febd69);
  color: var(--color-1c1c1b);
  transition: all 0.5s;
}
.main-product-details .buy-btn:hover {
  background: var(--color-1c1c1b);
  color: white;
}
/* ================main Product ============== */
/* preloader */

.se-pre-con {
  position: fixed;
  z-index: 9999;
  top: 0;
  /* background: #fff; */
  width: 100%;
  height: 100%;
  text-align: center;
}
.preloader-wrapper {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.preloader {
  margin: auto;
  object-fit: contain;
  background-size: 70px;
  width: 100px;
  height: 100px;
}

.preloader2 {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #086ad8;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s ease-in-out infinite;
  position: relative;
  margin: auto;
  top: -100px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
